.wbdid { 
  margin-right: 45px;
  border-right-width: 39px;
  padding-right: 47px;
  border-right-width: 7px;
  border-right-width: 0px;
  padding-right: 48px;
  margin-left: 60px;
  font-size: 47px;
  border-bottom-width: 3px;
}
