.kwajk { 
  margin-bottom: 74px;
  line-height: 57px;
  margin-top: 66px;
  margin-right: 84px;
  padding-bottom: 30px;
  border-left-width: 24px;
  padding-right: 15px;
  border-right-width: 69px;
  line-height: 18px;
  margin-right: 16px;
  border-left-width: 38px;
  margin-left: 92px;
  margin-bottom: 61px;
  border-top-width: 80px;
  line-height: 65px;
}
